body {
  background-color: #62c2c8;
}
.app {
  background: #fff;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}
.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
  cursor: pointer;
}
.center{
  display: flex;
  justify-content: center;
}
ul, li{
  list-style-type: none;
  margin: 0;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
li{
  margin: 5px;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
input{
  width: 66%;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 50px;
}
.btn{
  font-family: 'Montserrat', sans-serif;
  border: none;
  width: 70%;
  color: #fff;
  font-size: 16px;
  padding: 5px;
}
.add{
  margin-top: 10px;
  background: #65aa06;

}
.delete{
  margin-bottom: 10px;
  background: #d30100;
}